<div class="container" id="content-panel-head">
    <h3><strong>Skills</strong> - 
    <em><small>Merit numbers associated with skills are taken from LinkedIn.</small></em>
    </h3>
    
</div>

<div class="container">    
    
    <!-- Panel Content for Skills Page -->
    <section>
        <div class="panel panel-default">
            <div class="panel-body" id="content-panel-body">
                <div class="dropdown small">
                    <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <text>ALL</text>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-class="{ active : tec.idval == 1}"><a href="#skills/1">PROFICIENT</a></li>
                        <li ng-class="{ active : tec.idval == 2}"><a href="#skills/2">MODERATELY PROFICIENT</a></li>
                        <li ng-class="{ active : tec.idval == 3}"><a href="#skills/3">PRIOR EXPERIENCE</a></li>
                        <li ng-class="{ active : tec.idval == 4}"><a href="#skills/4">CURRENTLY LEARNING</a></li>
                        <li ng-class="{ active : tec.idval == 5}"><a href="#skills/5">OTHERS</a></li>
                        <li ng-class="{ active : tec.idval == 6}"><a href="#skills/6">OPEN BADGES</a></li>
                        <li ng-class="{ active : tec.idval == 0}"><a href="#skills">ALL</a></li>
                    </ul>
                </div>
        
                <ul class="nav nav-tabs">
                    <li ng-class="{ active : tec.idval == 1}"><a href="#skills/1">PROFICIENT</a></li>
                    <li ng-class="{ active : tec.idval == 2}"><a href="#skills/2">MODERATELY PROFICIENT</a></li>
                    <li ng-class="{ active : tec.idval == 3}"><a href="#skills/3">PRIOR EXPERIENCE</a></li>
                    <li ng-class="{ active : tec.idval == 4}"><a href="#skills/4">CURRENTLY LEARNING</a></li>
                    <li ng-class="{ active : tec.idval == 5}"><a href="#skills/5">OTHERS</a></li>
                    <li ng-class="{ active : tec.idval == 6}"><a href="#skills/6">OPEN BADGES</a></li>
                    <li ng-class="{ active : tec.idval == 0}"><a href="#skills">ALL</a></li>
                </ul>         

                <br>
        
                <section ng-repeat="skill in tec.skills" ng-show="skill.level.length">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{skill.level}}</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in skill.items">
                                    <span class="badge">{{item.num}}</span>
                                    <em ><small>{{item.name}}</small></em>
                                </li>
                            </ul>
                        </div>
                    </div>            
                </section>
                <section ng-show="tec.idval == 0 || tec.idval == 6">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Open Badges</h4>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h5>Code School</h5>
                                    </li>
                                    <li class="list-group-item">
                                        <iframe frameborder="0" scrolling="no" src="https://credly.com/otherembed/2108710/4/0/0/0" width="100%" height="220"></iframe>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </section>
            </div>
        </div>
    </section>
</div>