<div class="container" id="content-panel-head">
    <h3><strong>Projects</strong>
        - <em><small>
        Each of the projects listed below, I have made substantial contributions to.  In fact, I have complete ownership of all of them,
        with the exception of Budget Notebook, which was a team development project completed as part of my ME program through Penn State.
    </small></em></h3>
    
</div>

<div class="container">    
    
    <!-- Panel Content for Projects Page -->
    <section>
        <div class="panel panel-default">
            <div class="panel-body" id="content-panel-body">
                
                <div class="dropdown small">
                    <button class="btn btn-default dropdown-toggle" type="button" id="contDrop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <text>ALL</text>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-class="{ active : proj.idval == 1}"><a href="#projects/1">WEBSITE</a></li>
                        <li ng-class="{ active : proj.idval == 2}"><a href="#projects/2">RESUME APP</a></li>
                        <li ng-class="{ active : proj.idval == 3}"><a href="#projects/3">BUDGET NOTEBOOK</a></li>
                        <li ng-class="{ active : proj.idval == 4}"><a href="#projects/4">TOURNAMENT CREATOR</a></li>
                        <li ng-class="{ active : proj.idval == 0}"><a href="#projects">ALL</a></li>
                    </ul>
                </div>
        
                <ul class="nav nav-tabs">
                    <li ng-class="{ active : proj.idval == 1}"><a href="#projects/1">WEBSITE</a></li>
                    <li ng-class="{ active : proj.idval == 2}"><a href="#projects/2">RESUME APP</a></li>
                    <li ng-class="{ active : proj.idval == 3}"><a href="#projects/3">BUDGET NOTEBOOK</a></li>
                    <li ng-class="{ active : proj.idval == 4}"><a href="#projects/4">TOURNAMENT CREATOR</a></li>
                    <li ng-class="{ active : proj.idval == 0}"><a href="#projects">ALL</a></li>
                </ul>         

                <br>
                <section ng-repeat="project in proj.projects" ng-show="project.name.length">
                    <div class="panel panel-default">
                        
                        <div class="panel-heading">
                            <div class="media">
                                <div class="media-left">
                                    <a href="{{project.link}}">
                                        <img class="media-object" src="{{project.images[0]}}" height="64" />
                                    </a>
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">{{project.name}}</h4>
                                    <a href="{{project.link}}">
                                        <em>{{project.link}}</em>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <em><small>{{project.descr}}</small></em>
                            
                            <h3><em><b><small>Technology Used</small></b></em></h3>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="use in project.uses">
                                        {{use}}
                                    </li>
                                </ul>                            
                        </div>
                        
                    </div>
                </section>
                
            </div>
        </div>
    </section>
</div>