<div class="container" id="content-panel-head">
    <h3><strong>Resume</strong>
</div>


<div class="container">    
    
    <!-- Panel Content for Page -->
    <section>
        <div class="panel panel-default">
             <div class="panel-body" id="content-panel-body">
                <section>
                    <a href="templates/pages/resume/resources/resume.pdf">Download Resume</a>
                    <embed id="frame-to-fit" src={{res.resume}}></embed>
                </section>
            </div>
        </div>
    </section>
</div>